{% extends 'chatbase.html' %}
{% load static %}


{% block chatbody %}
 <!-- Start dynamic chatbot -->

 <div class="main-center-content-m-left center-content search-sticky">
    <div class="question_answer__wrapper__chatbot" id="report_dynamic_field">
        {% for chatBody in chatBodys %}
        <div class="single__question__answer">
            <div class="question_user">
                <div class="left_user_info">
                    <img src="{% static 'chatbot/assets/images/avatar/03.png' %}" alt="avatar">
                    <div class="question__user">{{chatBody.question}}</div>
                </div>
                <div class="edit__icon openuptip" tooltip="Edit It">
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>
            </div>
            <div class="answer__area">
                <div class="thumbnail">
                    <img src="{% static 'ui/assets/images/favicon.ico' %}" alt="avatar">
                </div>
                <div class="answer_main__wrapper">
                    <h4 class="common__title">Foresightbyte</h4>
                    <p class="disc">
                        {{chatBody.answer}}
                    </p>
                </div>
            </div>

            <div class="share-reaction-area">
                <ul>
                    <li><a href="#" class="openuptip" tooltip="Save It"><i class="fa-regular fa-bookmark"></i></a></li>
                    <li><a href="#" class="openuptip" tooltip="Like"><i class="fa-light fa-thumbs-up"></i></a></li>
                    <li><a href="#" class="openuptip" tooltip="Unlike"><i class="fa-regular fa-thumbs-down"></i></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="#" class="search-form">
        <input type="text" name="tynChatInput"  id="tynChatInput" placeholder="Message openup...">
        <button id="chatbtn"><i class="fa-regular fa-arrow-up"></i></button>
    </form>
    
</div>
<!-- End dynamic chatbot -->



<div class="right-side-bar-new-chat-option">
    <div class="new-chat-option">
        <a href="{% url 'chatui' %}">
            <img src="{% static 'chatbot/assets/images/logo/logo-02.png' %}" alt="logo">
            <img src="{% static 'chatbot/assets/images/icons/04.png' %}" alt="icons">
        </a>
    </div>
    <div class="chat-history-wrapper">
        
            <div class="chat-history-area-start">
                <!-- <h6 class="title">Today</h6> -->

                {% for chatTitle in chatTitles %}
                    {% if chatTitle.id == id %}

                <div class="single-history">
                    <a href="{% url 'dynamic' chatTitle.id %}"><p>{{ chatTitle.title|truncatechars:30 }}</p> 
                    <a href="{% url 'dynamic_delete' chatTitle.id %}">
                        <img src="{% static 'chatbot/assets/images/icons/icons8-delete.svg' %}" alt="icons" width="50px">
                        
                    </a>
                </div>
                {% else %}
                <div class="single-history">
                    <a href="{% url 'dynamic' chatTitle.id %}"><p>{{ chatTitle.title|truncatechars:30 }}</p></a> 
                    <a href="{% url 'dynamic_delete' chatTitle.id %}">
                        <img src="{% static 'chatbot/assets/images/icons/icons8-delete.svg' %}" alt="icons" width="30px">
                        
                    </a>

                </div>
                
                {% endif %}

                {% endfor %}
            </div>

        
    </div>
    <div class="right-side-open-clouse" id="collups-right">
        <img src="{% static 'chatbot/assets/images/icons/01.svg' %}" alt="icons">
    </div>
</div>
{% endblock chatbody %}


   
{% block js%}

<script>
    $(document).ready(function () {
    let isFirstRequest = true; // Track if it's the first request

    $('#chatbtn').click(function (e) {
        e.preventDefault();

        let user_input = $("#tynChatInput").val();
        $("#tynChatInput").val("");  // Clear the input field

        // Check if this is the first request and apply a short delay if so
        const handleResponse = function(response) {
            console.log("Response from server:", response);

            $('#report_dynamic_field').append(
                `<div class="single__question__answer">
                    <div class="question_user">
                        <div class="left_user_info">
                            <img src="{% static 'chatbot/assets/images/avatar/03.png' %}" alt="avatar">
                            <div class="question__user">${response.data.my}</div>
                        </div>
                        <div class="edit__icon openuptip" tooltip="Edit It">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                    </div>
                    <div class="answer__area">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/favicon.ico' %}" alt="avatar">
                        </div>
                        <div class="answer_main__wrapper">
                            <h4 class="common__title">Foresightbyte</h4>
                            <p class="disc">${response.data.chatbot_response}</p>
                        </div>
                    </div>
                    <div class="share-reaction-area">
                        <ul>
                            <li><a href="#" class="openuptip" tooltip="Save It"><i class="fa-regular fa-bookmark"></i></a></li>
                            <li><a href="#" class="openuptip" tooltip="Like"><i class="fa-light fa-thumbs-up"></i></a></li>
                            <li><a href="#" class="openuptip" tooltip="Unlike"><i class="fa-regular fa-thumbs-down"></i></a></li>
                        </ul>
                    </div>
                </div>`
            );

            isFirstRequest = false; // Update after the first request
        };

        $.ajax({
            url: "{% url 'chat_add' %}",
            type: 'get',
            dataType: 'json',
            data: { offset: user_input },
            success: function(response) {
                // If it's the first request, add a delay to allow session initialization
                if (isFirstRequest) {
                    setTimeout(() => handleResponse(response), 500);  // 500ms delay
                } else {
                    handleResponse(response);
                }
            },
            complete: function () {
                console.log("Request completed.");
            },
            error: function (xhr, status, error) {
                console.error("Error loading content:", error);
                alert("There was an error loading the chat response. Please try again.");
            }
        });
    });
});

</script>

{% endblock js%}