{% extends 'mainbase.html' %} {% load static %} 

{% block mainbody%}


    <!-- rts breadcrumb area start-->
    <div class="rts-bread-crumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inne">
                        <div class="title-area">
                            <h1 class="bread-title" style="color: rgb(2, 41, 48);">About Us</h1>
                            <div class="inner-wrapper">
                                <a href="index-four.html" style="color: rgb(0, 0, 0);">Home /</a>
                                <a href="#" class="active" style="color: rgb(7, 75, 87);">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts breadcrumb area end -->


    <!-- about section one -->
    <div class="about-section-one inner-about rts-section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="left-thumbnail-area">
                        <img src="{% static 'ui/assets/images/about/chat-interface.jpg' %}" alt="thumbanil">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-p-right">
                        <div class="title-left-area">
                            <span class="pre-title-bg">About Us</span>
                            <h2 class="title">
                                AI-Powered Conversations: <br>
                                Your Intelligent Digital <br>
                                Assistant
                            </h2>
                        </div>
                        <div class="inner-content">
                            <p class="disc-l">
                                Welcome to our AI chatbot, where advanced technology meets personalized service. 
                                Our chatbot is designed to assist you with instant, accurate responses to your queries. 
                                Whether you're seeking information, need help with tasks, or want to engage in a friendly chat, 
                                our AI is here to enhance your experience with seamless, intelligent communication. Dive into 
                                the future of interaction, where your convenience and satisfaction are always a priority.
                            </p>
                            <div class="rating-area">
                                <div class="rating">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                </div>
                                <p class="disc">Based on 10,000+ reviews on</p>
                            </div>
                            <div class="brand-arae">
                                <img src="{% static 'ui/assets/images/banner/brand/01.png' %}" alt="brand">
                                <img src="{% static 'ui/assets/images/banner/brand/02.png' %}" alt="brand">
                                <img src="{% static 'ui/assets/images/banner/brand/03.png' %}" alt="brand">
                                <img src="{% static 'ui/assets/images/banner/brand/04.png' %}" alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section one end -->

    <!-- favourite tools area -->
    <div class="favourite-tools-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <!-- <span class="pre-title-bg">Features</span> -->
                        <h2 class="title">
                            Personal <br>
                            AI Chat
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row mt--10 g-5">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-case-area-wrapper">
                        <div class="icon">
                            <img src="/{% static 'ui/assets/images/about/chat-app.png' %}" alt="Icon" width="50" height="50">
                        </div>
                        <a href="#">
                            <h5 class="title">AI Chat</h5>
                        </a>
                        <p class="disc">
                            I’m your friendly chatbot, here to help with any questions. Just let me know how I can assist you!
                        </p>
                        <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-case-area-wrapper">
                        <div class="icon">
                            <img src="/{% static 'ui/assets/images/about/sentiment-analysis.png' %}" alt="Icon" width="50" height="50">
                        </div>
                        <a href="#">
                            <h5 class="title">Sentiment Analysis</h5>
                        </a>
                        <p class="disc">
                            I'm here to help you understand the emotions and tone behind any text you share. Let's get started!
                        </p>
                        <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-case-area-wrapper">
                        <div class="icon">

                            <div class="icon">
                                <img src="/{% static 'ui/assets/images/about/folder.png' %}" alt="Icon" width="50" height="50">
                            </div>

                        </div>
                        <a href="#">
                            <h5 class="title">Try With Your Data</h5>
                        </a>
                        <p class="disc">
                            I’m here to assist you with your inquiries. If you have any questions or need support, feel free to ask!
                        </p>
                        <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- favourite tools area end -->

    <!-- rts image area start -->
    <!-- <div class="rts-large-image-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="large-image-about-p">
                        <img src="{% static 'ui/assets/images/about/chat-interface.jpg' %}" alt="about-image" style="height: 600px;">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- rts image area end -->


    <!-- rts team area start -->
    <div class="rts-team-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <span class="pre-title-bg">Team</span>
                        <h2 class="title">
                            OpenUp Dedicated Team
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt--10">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/01.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Jenny Wilson</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/02.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Olivia Rodrigo</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/03.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Glen Smith</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/04.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Dylan Auty</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/05.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Olivia Rodrigo</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/06.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Olivia Rodrigo</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/07.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Glen Smith</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="team-area-ab-wrapper">
                        <div class="thumbnail">
                            <img src="{% static 'ui/assets/images/team/08.jpg' %}" alt="team">
                        </div>
                        <div class="inner-content">
                            <a href="#">
                                <h5 class="title">Dylan Auty</h5>
                            </a>
                            <span>CTO / Developer</span>
                            <div class="social-icon">
                                <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-behance"></i></a>
                                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts team area ewnd -->


    <!-- rts testimonials area starts -->
    <div class="rts-testimonials-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <span class="pre-title-bg">Features</span>
                        <h2 class="title">
                            Trusted by 5,000+ teams <br>
                            agencies 1500+ <span class="gradient-about-title">5-star ratings.</span>
                        </h2>
                        <div class="rating-area-main-p">
                            <div class="rating-area">
                                <div class="rating">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                    <img src="{% static 'ui/assets/images/banner/star.svg' %}" alt="start">
                                </div>
                                <p class="disc">Based on 10,000+ reviews on</p>
                            </div>
                            <p class="disc-5">USED BY THE WORLD'S BEST MARKETING TEAMS</p>
                            <div class="brand-arae">
                                <img src="{% static 'ui/assets/images/banner/brand/01.png' %}" alt="brand">
                                <img src="{% static 'ui/assets/images/banner/brand/02.png' %}" alt="brand">
                                <img src="{% static 'ui/assets/images/banner/brand/03.png' %}" alt="brand">
                                <img src="{% static 'ui/assets/images/banner/brand/04.png' %}" alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt--30">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single team area start -->
                    <div class="single-team-area">
                        <img src="{% static 'ui/assets/images/team/brand/quote.png' %}" alt="" class="quote">
                        <div class="star">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <p class="disc">
                            I have used some AI writing tools liked Rytr, Peppertype, and Jasper but I found Writesonic to be the best for writing complete blog posts.
                        </p>
                        <div class="authore-area">
                            <div class="author">
                                <img src="{% static 'ui/assets/images/team/01.png' %}" alt="team">
                                <div class="info">
                                    <p>Samuel</p>
                                    <span>Blogger</span>
                                </div>
                            </div>
                            <img src="{% static 'ui/assets/images/team/brand/01.png' %}" alt="">
                        </div>
                    </div>
                    <!-- single tream area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single team area start -->
                    <div class="single-team-area">
                        <img src="{% static 'ui/assets/images/team/brand/quote.png' %}" alt="" class="quote">
                        <div class="star">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <p class="disc">
                            I have used some AI writing tools liked Rytr, Peppertype, and Jasper but I found Writesonic to be the best for writing complete blog posts.
                        </p>
                        <div class="authore-area">
                            <div class="author">
                                <img src="{% static 'ui/assets/images/team/01.png' %}" alt="team">
                                <div class="info">
                                    <p>Samuel</p>
                                    <span>Blogger</span>
                                </div>
                            </div>
                            <img src="{% static 'ui/assets/images/team/brand/01.png' %}" alt="">
                        </div>
                    </div>
                    <!-- single tream area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single team area start -->
                    <div class="single-team-area">
                        <img src="{% static 'ui/assets/images/team/brand/quote.png' %}" alt="" class="quote">
                        <div class="star">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <p class="disc">
                            I have used some AI writing tools liked Rytr, Peppertype, and Jasper but I found Writesonic to be the best for writing complete blog posts.
                        </p>
                        <div class="authore-area">
                            <div class="author">
                                <img src="{% static 'ui/assets/images/team/01.png' %}" alt="team">
                                <div class="info">
                                    <p>Samuel</p>
                                    <span>Blogger</span>
                                </div>
                            </div>
                            <img src="{% static 'ui/assets/images/team/brand/01.png' %}" alt="">
                        </div>
                    </div>
                    <!-- single tream area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts testimonials area emd -->





    <!-- cta area start -->
    <!-- cta area start -->
    <div class="rts-cta-area rts-section-gapBottom  bg_faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-main-wrapper bg_image">
                        <div class="left">
                            <h3 class="title">
                                All set to level up <br>
                                your content game?
                            </h3>
                            <a href="about.html" class="rts-btn btn-primary">Get Started Now</a>
                        </div>
                        <div class="right">
                            <img src="{% static 'ui/assets/images/cta/02.png' %}" alt="cta-area">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta area end -->
    <!-- cta area end -->


{% endblock mainbody%}