{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="tyn-content tyn-content-page">
    <div class="tyn-main">
        <div class="tyn-section tyn-section-lg pb-0">
            <div class="container">
                <div class="tyn-section-head tyn-text-block text-center">
                    <h2 class="h1">Try for free, no credit card</h2>
                    <p>Billing: Save 17% with annual.</p>
                </div>
                <div class="tyn-section-content">
                    <div class="row g-4 justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card h-100 border-0">
                                <div class="card-body p-4">
                                    <div class="text-muted text-opacity-50 fs-7 mt-n2 fw-medium">Life Time</div>
                                    <div class="h1 text-dark">$0</div>
                                    <h5 class="pb-2 pt-1">Free Plan</h5>
                                    <ul class="list-check fs-6 d-flex flex-column gap gap-2">
                                        <li class="d-flex gap gap-2">
                                            <span class="text-success">
                                                <!-- check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </span>
                                            <span>Available on low demand</span>
                                        </li>
                                        <li class="d-flex gap gap-2">
                                            <span class="text-success">
                                                <!-- check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </span>
                                            <span>Standard response speed</span>
                                        </li>
                                        <li class="d-flex gap gap-2">
                                            <span class="text-success">
                                                <!-- check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </span>
                                            <span>Regular model updates</span>
                                        </li>
                                    </ul>
                                    <div class="mt-4">
                                        <a href="#" class="btn btn-light disabled">Current Plan</a>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card h-100 border-0">
                                <div class="card-body p-4">
                                    <div class="text-success fs-7 mt-n2 fw-medium">Popular</div>
                                    <div class="h1 text-primary">$33 <small class="fs-5">/mo</small></div>
                                    <h5 class="pb-2 pt-1">Premium Plan</h5>
                                    <ul class="list-check fs-6 d-flex flex-column gap gap-2">
                                        <li class="d-flex gap gap-2">
                                            <span class="text-success">
                                                <!-- check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </span>
                                            <span>Always Available</span>
                                        </li>
                                        <li class="d-flex gap gap-2">
                                            <span class="text-success">
                                                <!-- check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </span>
                                            <span>Fast response speed</span>
                                        </li>
                                        <li class="d-flex gap gap-2">
                                            <span class="text-success">
                                                <!-- check -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </span>
                                            <span>Early model updates</span>
                                        </li>
                                    </ul>
                                    <div class="mt-4">
                                        <a href="#" class="btn btn-primary">Upgrade Now</a>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xl-3 col-lg-4">
                            <div class="card h-100 border-0">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="col-sm-6 col-lg-12 text-sm-center d-none d-sm-block d-lg-none">
                                            <div class="bg-body py-4 rounded-2">
                                                <div class="tyn-media tyn-circle bg-white mb-2">
                                                    <!-- buildings-fill -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                                                        <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z" />
                                                    </svg>
                                                </div>
                                                <div class="mt-2 pt-1 d-none d-sm-block d-lg-none">
                                                    <a href="#" class="btn btn-md btn-success">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-12">
                                            <div class="tyn-media tyn-circle bg-light mb-3 d-sm-none d-lg-inline-flex">
                                                <!-- buildings-fill -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                                                    <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z" />
                                                </svg>
                                            </div>
                                            <h5 class="pb-2 pt-1">Premium Plan</h5>
                                            <ul class="list-check fs-6 d-flex flex-column gap gap-2">
                                                <li class="d-flex gap gap-2">
                                                    <span class="text-success">
                                                        <!-- check -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                        </svg>
                                                    </span>
                                                    <span>Everyting from premium</span>
                                                </li>
                                                <li class="d-flex gap gap-2">
                                                    <span class="text-success">
                                                        <!-- check -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                        </svg>
                                                    </span>
                                                    <span>API Integration</span>
                                                </li>
                                                <li class="d-flex gap gap-2">
                                                    <span class="text-success">
                                                        <!-- check -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                        </svg>
                                                    </span>
                                                    <span>24/7 Support assistant</span>
                                                </li>
                                            </ul>
                                            <div class="mt-4 d-sm-none d-lg-flex">
                                                <a href="#" class="btn btn-success">Contact us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .tyn-section-content -->
            </div><!-- .container -->
        </div><!-- .tyn-section -->
        <div class="tyn-section tyn-section-lg">
            <div class="container">
                <div class="tyn-section-head tyn-text-block text-center">
                    <h2 class="h3">Frequently Asked Questions</h2>
                    <p>Here is some answer for few quetion.</p>
                </div>
                <div class="tyn-section-content">
                    <div class="row justify-content-center">
                        <div class="col-xl-9">
                            <div class="accordion d-flex flex-column gap-2" id="faq-01">
                                <div class="accordion-item rounded">
                                    <button class="accordion-button rounded shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-01-01">
                                        <h5>What is this chatbot for?</h5>
                                    </button>
                                    <div id="faq-01-01" class="accordion-collapse collapse show" data-bs-parent="#faq-01">
                                        <div class="accordion-body tyn-text-block pt-0">
                                            <p>This chatbot is designed to provide customer service support. You can use it to get answers to common questions, find information about our products or services, and get help with any issues you may be experiencing.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item rounded">
                                    <button class="accordion-button collapsed rounded shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-01-02">
                                        <h5>How do I use the chatbot?</h5>
                                    </button>
                                    <div id="faq-01-02" class="accordion-collapse collapse" data-bs-parent="#faq-01">
                                        <div class="accordion-body tyn-text-block pt-0">
                                            <p>To use the chatbot, simply type your question or request into the chat window. The chatbot will then provide a response or guide you through the process of finding the information you need.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item rounded">
                                    <button class="accordion-button collapsed rounded shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-01-03">
                                        <h5>What kind of questions can I ask the chatbot?</h5>
                                    </button>
                                    <div id="faq-01-03" class="accordion-collapse collapse" data-bs-parent="#faq-01">
                                        <div class="accordion-body tyn-text-block pt-0">
                                            <p>You can ask the chatbot any question related to our products or services. Some common questions include.</p>
                                            <ol>
                                                <li>How do I place an order?</li>
                                                <li>What is your return policy?</li>
                                                <li>How do I track my shipment?</li>
                                                <li>Can I change my order after it has been placed?</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item rounded">
                                    <button class="accordion-button collapsed rounded shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-01-04">
                                        <h5>What if the chatbot can’t answer my question?</h5>
                                    </button>
                                    <div id="faq-01-04" class="accordion-collapse collapse" data-bs-parent="#faq-01">
                                        <div class="accordion-body tyn-text-block pt-0">
                                            <p>If the chatbot is unable to answer your question or provide the information you need, it will direct you to other resources such as our customer service team or website.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="mt-4 text-center">
                        <a href="faq.html" class="link link-primary">
                            <span>Still have question ?</span>
                        </a>
                    </div>
                </div><!-- .tyn-section-content -->
            </div><!-- .container -->
        </div><!-- .tyn-section -->
    </div><!-- .tyn-main -->
</div>

{% endblock body %}