{% extends 'base.html' %} {% load static %} 

{% block body%}
<div id="primary" class="content-area">
    <main id="main" class="site-main">
        <div class="css_prefix-page-inner clear-items">
            <div class="css_prefix-pages-items">
                <div data-elementor-type="wp-page" data-elementor-id="6410" class="elementor elementor-6410">
                    <div class="elementor-section elementor-top-section elementor-element elementor-element-cc5e147 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                        data-id="cc5e147" data-element_type="section"
                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8145b26 layouts-column-align-inherit layouts-section-position-none"
                                data-id="8145b26" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-section elementor-inner-section elementor-element elementor-element-d0c51e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="d0c51e9" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-fd688e7 layouts-column-align-inherit layouts-section-position-none"
                                                data-id="fd688e7" data-element_type="column">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="hf-elementor-layout elementor-element elementor-element-88dee96 elementor-widget elementor-widget-team"
                                                        data-id="88dee96" data-element_type="widget"
                                                        data-widget_type="team.default">
                                                        <div class="elementor-widget-container">




                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2023/04/smith-jonasadvisor.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/corey-bryant/index.html">
                                                                                <h5>Corey Bryant</h5>
                                                                            </a>
                                                                            <span
                                                                                class="team-post">Designer</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2023/04/marcas-dane-designer.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/marcas-dane/index.html">
                                                                                <h5>marcas dane</h5>
                                                                            </a>
                                                                            <span
                                                                                class="team-post">Developer</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2023/04/john-williamsdeveloper.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/john-williams/index.html">
                                                                                <h5>john williams</h5>
                                                                            </a>
                                                                            <span class="team-post">CEO</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2023/04/john-danemanager.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/john-dane/index.html">
                                                                                <h5>john dane</h5>
                                                                            </a>
                                                                            <span class="team-post">Team
                                                                                Leader</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2023/04/angle-pauldesigner.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/angle-paul/index.html">
                                                                                <h5>angle paul</h5>
                                                                            </a>
                                                                            <span
                                                                                class="team-post">Manager</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2023/04/alexa-virenHR-manager.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/alexa-viren/index.html">
                                                                                <h5>alexa viren</h5>
                                                                            </a>
                                                                            <span class="team-post">SEO</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2019/10/t1-2.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/amy-jack/index.html">
                                                                                <h5>Apostle Paul</h5>
                                                                            </a>
                                                                            <span
                                                                                class="team-post">Designer</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2019/10/t2-2.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/team-3/index.html">
                                                                                <h5>Sara Bellum</h5>
                                                                            </a>
                                                                            <span
                                                                                class="team-post">Developer</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2019/10/t3-2.jpg"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/team-2/index.html">
                                                                                <h5>Mick Donalds</h5>
                                                                            </a>
                                                                            <span class="team-post">UI / UX
                                                                                Designer</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                                    <div class="iq-team">
                                                                        <div class="iq-team-img">
                                                                            <img decoding="async"
                                                                                src="../wp-content/uploads/2019/10/team-2.png"
                                                                                alt="team-member" />
                                                                            <div
                                                                                class="share css_prefix-social-share">
                                                                                <ul class="social-icons">
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-facebook-f"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fab fa-x-twitter"></i></a>
                                                                                    </li>
                                                                                    <li><a href="#"><i
                                                                                                class="fa-brands fa-instagram"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="iq-team-info">
                                                                            <a
                                                                                href="../talkieteam/team-1/index.html">
                                                                                <h5>Danielle Wyatt</h5>
                                                                            </a>
                                                                            <span
                                                                                class="team-post">Designer</span>
                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- #main -->
</div><!-- .container -->
<div class="dropdown-menu-mini-cart ">
    <div class="css_prefix-menu-header">
        <h5 class="cart-header">Shopping Cart (<span class="css_prefix-cart-count">0</span>)</h5>
        <a href="javascript:void(0);" class="dropdown-close">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <div class="widget_shopping_cart_content ">

        <div class="css_prefix-empty-cart ">
            <div class="empty-wrapper">

                <img src="../wp-content/themes/talkie-theme/assets/images/redux/empty-cart-img.webp"
                    alt="image">
                <p class="woocommerce-mini-cart__empty-message">Your Bag is empty. Add few items.</p>
                <a class="css_prefix-button btn php_prefix-btn btn  " href=../shop/index.html>
                    Shop Now </a>
            </div>
        </div>


    </div>
</div>

{% endblock body%}


{% block js%}


{% endblock js%}
