{% extends 'base.html' %}
{% load static %}


{% block body %}

<div id="primary" class="content-area">
    <main id="main" class="site-main">
        <div class="relative py-5 xl:py-10">
            <div class="container px-3">
                <div class="flex flex-wrap gap-x-8 xl:flex-nowrap min-h-[calc(100vh-theme(space.52))] max-h-[calc(100vh-theme(space.52))] max-xl:max-h-[calc(100vh-theme(space.40)-theme(space.2))] max-xl:min-h-[calc(100vh-theme(space.40)-theme(space.2))]">
                    <div id="chatAside" class="fixed peer start-0 z-[1020] top-[calc(theme(space.16)+theme(space.1))] bottom-0 w-[calc(100%-40px)] max-xl:max-w-80 xl:w-[360px] xl:static flex-shrink-0  xl:!translate-x-0 ltr:-translate-x-full rtl:translate-x-full [&.active]:translate-x-0 max-xl:transition-transform">
                        <div class="flex flex-col justify-stretch  h-full xl:rounded-lg bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800">
                            <div class="px-7 pt-7">
                                <a href="{% url 'chatui' %}" class="class-toggle flex items-center gap-x-2 text-blue-600 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z" clip-rule="evenodd" />
                                    </svg><!-- plus-circle - mini - heroicons  -->
                                    <span>New Conversation</span>
                                    </a>
                            </div>
                            <div class="p-7 h-full overflow-auto flex-grow" data-simplebar>
                                <ul class="flex flex-col -mx-4 -my-3" >
                                    {% for chatTitle in chatTitles %}
                                    {% if chatTitle.id == id %}
                                    <li class="group flex items-center justify-stretch max-w-full relative">
                                        <a href="{% url 'dynamic' chatTitle.id %}" class="flex gap-2 items-center px-4 py-3 w-full rounded-md  [&.active]:bg-blue-100 [&.active]:dark:bg-blue-950  active">
                                            <div class="flex-shrink-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 text-slate-600 dark:text-slate-200">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                                </svg><!-- chat-bubble-left-right - outline - heroicons  -->
                                            </div>
                                            <p class="text-sm text-slate-500 dark:text-slate-300 capitalize truncate">{{ chatTitle.title }}</p>
                                        </a>
                                        <div class="absolute end-2 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 z-10 inline-flex">
                                            <button data-offset="-12,-8" data-rtl-offset="12,-8" data-placement="bottom-end" data-rtl-placement="bottom-start" class="dropdown-toggle peer h-7 w-7 bg-slate-100 dark:bg-slate-900 rounded-full flex justify-center items-center *:pointer-events-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 text-slate-600 dark:text-slate-200">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                                </svg><!-- ellipsis-horizontal - outline - heroicons  -->
                                            </button>
                                            <div class="dropdown-menu invisible absolute end-0 top-10 w-36 opacity-0 transition-all duration-100 ease-out peer-[.show]:visible peer-[.show_.dropdown-wrap]:scale-100 peer-[.show]:opacity-100">
                                                <div class="dropdown-wrap ransition-all origin-top-right scale-90 rounded-lg border border-slate-200 bg-white shadow-sm duration-100 ease-out dark:border-slate-800 dark:bg-slate-950">
                                                    <ul class="py-2 border-slate-200 dark:border-slate-800">
                                                        <li>
                                                            <a href="#" class="flex text-xs px-4 py-2 font-medium text-slate-500 dark:text-slate-200 hover:text-blue-600 hover:dark:text-blue-600 transition-all">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 me-2">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                                </svg><!-- pencil-square - outline - heroicons  -->
                                                                <span>Rename</span>
                                                            </a>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="flex text-xs px-4 py-2 font-medium text-slate-500 dark:text-slate-200 hover:text-blue-600 hover:dark:text-blue-600 transition-all">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 me-2">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                                                                </svg><!-- share - outline - heroicons  -->
                                                                <span>Share</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'dynamic_delete' chatTitle.id %}" class="flex text-xs px-4 py-2 font-medium text-slate-500 dark:text-slate-200 hover:text-blue-600 hover:dark:text-blue-600 transition-all">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 me-2">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                                </svg><!-- trash - outline - heroicons  -->
                                                                <span>Delete</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- dropdown -->
                                    </li>
                                    {% else %}
        
                                    <li class="group flex items-center justify-stretch max-w-full relative">
                                        <a href="{% url 'dynamic' chatTitle.id %}" class="flex gap-2 items-center px-4 py-3 w-full rounded-md  [&.active]:bg-blue-100 [&.active]:dark:bg-blue-950 ">
                                            <div class="flex-shrink-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 text-slate-600 dark:text-slate-200">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                                </svg><!-- chat-bubble-left-right - outline - heroicons  -->
                                            </div>
                                            <p class="text-sm text-slate-500 dark:text-slate-300 capitalize truncate">{{ chatTitle.title }}</p>
                                        </a>
                                        <div class="absolute end-2 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 z-10 inline-flex">
                                            <button data-offset="-12,-8" data-rtl-offset="12,-8" data-placement="bottom-end" data-rtl-placement="bottom-start" class="dropdown-toggle peer h-7 w-7 bg-slate-100 dark:bg-slate-900 rounded-full flex justify-center items-center *:pointer-events-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 text-slate-600 dark:text-slate-200">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                                </svg><!-- ellipsis-horizontal - outline - heroicons  -->
                                            </button>
                                            <div class="dropdown-menu invisible absolute end-0 top-10 w-36 opacity-0 transition-all duration-100 ease-out peer-[.show]:visible peer-[.show_.dropdown-wrap]:scale-100 peer-[.show]:opacity-100">
                                                <div class="dropdown-wrap ransition-all origin-top-right scale-90 rounded-lg border border-slate-200 bg-white shadow-sm duration-100 ease-out dark:border-slate-800 dark:bg-slate-950">
                                                    <ul class="py-2 border-slate-200 dark:border-slate-800">
                                                        <li>
                                                            <a href="#" class="flex text-xs px-4 py-2 font-medium text-slate-500 dark:text-slate-200 hover:text-blue-600 hover:dark:text-blue-600 transition-all">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 me-2">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                                </svg><!-- pencil-square - outline - heroicons  -->
                                                                <span>Rename</span>
                                                            </a>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="flex text-xs px-4 py-2 font-medium text-slate-500 dark:text-slate-200 hover:text-blue-600 hover:dark:text-blue-600 transition-all">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 me-2">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                                                                </svg><!-- share - outline - heroicons  -->
                                                                <span>Share</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'dynamic_delete' chatTitle.id %}" class="flex text-xs px-4 py-2 font-medium text-slate-500 dark:text-slate-200 hover:text-blue-600 hover:dark:text-blue-600 transition-all">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 me-2">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                                </svg><!-- trash - outline - heroicons  -->
                                                                <span>Delete</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- dropdown -->
                                    </li>
                                    {% endif %}
        
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="p-4 sm:p-7">
                                <a href="packages.html" class="flex justify-between p-4 rounded-lg border border-slate-200 dark:border-slate-800 hover:border-blue-200 hover:dark:border-blue-950 transition-all">
                                    <div class="">
                                        <span class="text-[11px] font-medium text-blue-500 bg-gradient-to-r from-blue-100 dark:from-blue-950 to-pink-100 dark:to-pink-950 px-2 py-1 rounded"> Upgrade </span>
                                        <h3 class="mt-2 font-bold text-sm text-slate-600 dark:text-slate-100">Foresightbyte Pro</h3>
                                    </div>
                                    <div class="text-end">
                                        <del class="font-medium text-xs text-slate-400 dark:text-slate-300">$19.99</del>
                                        <div class="font-bold text-lg bg-gradient-to-r from-blue-600 to-pink-500 text-transparent bg-clip-text "> $9.99 </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-target="#chatAside" class="class-toggle fixed inset-0 bg-slate-950 bg-opacity-50 z-[1019] xl:!hidden hidden peer-[.active]:block"></div>
                    <div class="w-full xl:w-[calc(100%-theme(space.8)-360px)] max-xl:h-[calc(100vh-theme(space.40)-theme(space.2))] relative">
                        <button data-target="#chatAside" class="class-toggle inline-flex items-center justify-center h-8 w-8 rounded overflow-hidden transition-all text-slate-500 dark:text-slate-300 bg-slate-200 dark:bg-slate-800 hover:bg-slate-300 hover:dark:bg-slate-700 hover:text-slate-600 hover:dark:text-slate-200 ui-open:bg-slate-200 ui-open:dark:bg-slate-800 ui-open:text-slate-600 ui-open:dark:text-slate-200 xl:hidden absolute top-4 end-0 z-10">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                            </svg><!-- bars-3-bottom-right - outline - heroicons  -->
                        </button>
                        <div class="flex flex-col justify-stretch h-full">
                    <div data-simplebar class="h-full overflow-auto flex-grow rounded-lg bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800">
                        <div class="flex flex-col justify-end h-full p-4 sm:p-6 -my-2.5" id="report_dynamic_field">
                            {% for chatBody in chatBodys %}
                            <div class="flex flex-col py-2.5">
                                <div class="flex items-center gap-x-2">
                                    <div class="inline-flex flex-shrink-0 h-8 w-8 rounded-full overflow-hidden border-2 border-white dark:border-slate-700">
                                        <img src="{% static 'images/avatar/a.jpg' %}" alt="" />
                                    </div>
                                    <h6 class="font-bold text-sm capitalize text-slate-600 dark:text-slate-100">you</h6>
                                </div>
                                <div class="ps-10 w-full">
                                    <div class="max-w-full text-slate-500 dark:text-slate-300 prose-strong:dark:text-white text-sm prose prose-code:![text-shadow:none] *:max-w-xl prose-pre:!max-w-full prose-pre:!w-full prose-pre:p-0">
                                        <p>  {{chatBody.question}}</p>
                                    </div>
                                </div>
                            </div><!-- reply-item human -->
                            <div class="flex flex-col py-2.5">
                                <div class="flex items-center gap-x-2">
                                    <div class="inline-flex flex-shrink-0 h-8 w-8 rounded-full overflow-hidden border-2 border-white dark:border-slate-700">
                                        <img src="{% static 'images/avatar/bots/1.jpg' %}" alt="" />
                                    </div>
                                    <h6 class="font-bold text-sm capitalize text-slate-600 dark:text-slate-100">Foresightbyte</h6>
                                </div>
                                <div class="ps-10 w-full">
                                    <div class="max-w-full text-slate-500 dark:text-slate-300 prose-strong:dark:text-white text-sm prose prose-code:![text-shadow:none] *:max-w-xl prose-pre:!max-w-full prose-pre:!w-full prose-pre:p-0">
                                        <p>{{chatBody.answer}}</p>
                                    </div>
                                    <ul class="pt-4 flex gap-x-2">
                                        <li class="tooltip-toggle" data-placement="top" data-title="Regenerate">
                                            <button class="inline-flex justify-center items-center transition-all p-1 rounded-md bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-100 border border-slate-200 dark:border-slate-800 hover:border-blue-500 hover:bg-blue-500 hover:dark:border-blue-500 hover:dark:bg-blue-500 hover:text-white hover:dark:text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
                                                </svg><!-- arrow-path-rounded-square - outline - heroicons  -->
                                            </button>
                                        </li>
                                        <li class="tooltip-toggle" data-placement="top" data-title="Bad Response">
                                            <button class="inline-flex justify-center items-center transition-all p-1 rounded-md bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-100 border border-slate-200 dark:border-slate-800 hover:border-blue-500 hover:bg-blue-500 hover:dark:border-blue-500 hover:dark:bg-blue-500 hover:text-white hover:dark:text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />
                                                </svg><!-- hand-thumb-down - outline - heroicons  -->
                                            </button>
                                        </li>
                                        <li>
                                            <button class="inline-flex justify-center items-center font-medium transition-all text-xs px-2 py-1 gap-2 rounded-md bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-100 border border-slate-200 dark:border-slate-800 hover:border-green-500 hover:bg-green-500 hover:dark:border-green-500 hover:dark:bg-green-500 hover:text-white hover:dark:text-white">Share</button>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- reply-item bot -->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pt-3">
                        <ul class="flex gap-x-3">
                            <li>
                                <div class="flex">
                                    <input class="appearance-none h-0 w-0 opacity-0 peer" type="radio" id="gpt-4" name="language-model" checked />
                                    <label class="bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-200 font-medium text-sm border border-slate-200 dark:border-slate-800 rounded-md px-3 py-1 cursor-pointer peer-checked:cursor-default peer-checked:text-blue-600 peer-checked:border-blue-300 peer-checked:dark:border-blue-900 transition-all" for="gpt-4">GPT 4</label>
                                </div>
                            </li>
                            <li>
                                <div class="flex">
                                    <input class="appearance-none h-0 w-0 opacity-0 peer" type="radio" id="Gemini" name="language-model" />
                                    <label class="bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-200 font-medium text-sm border border-slate-200 dark:border-slate-800 rounded-md px-3 py-1 cursor-pointer peer-checked:cursor-default peer-checked:text-blue-600 peer-checked:border-blue-300 peer-checked:dark:border-blue-900 transition-all" for="Gemini">Gemini</label>
                                </div>
                            </li>
                            <li>
                                <div class="flex">
                                    <input class="appearance-none h-0 w-0 opacity-0 peer" type="radio"    />
                                    <!-- name="language-model" id="Llama-3" -->
                                    <label class="bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-200 font-medium text-sm border border-slate-200 dark:border-slate-800 rounded-md px-3 py-1 cursor-pointer peer-checked:cursor-default peer-checked:text-blue-600 peer-checked:border-blue-300 peer-checked:dark:border-blue-900 transition-all" for="Llama-3">Llama 3</label>
                                </div>
                            </li>
                        </ul>
                        <div class="flex items-start gap-4 mt-3">
                            <textarea 
                                name="tynChatInput" 
                                id="tynChatInput"
                                class="py-2.5 px-4 z-10 w-full rounded-md text-sm/[1.125rem] bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-200 placeholder:text-slate-400 placeholder:dark:text-slate-500 border border-slate-200 dark:border-slate-800 disabled:bg-slate-100 disabled:text-slate-400 focus:border-blue-200 focus:shadow-none focus:outline-none" 
                                placeholder="Type your message here..."
                                rows="2"
                            ></textarea>
                            <button id="chatbtn" class="inline-flex justify-center items-center transition-all p-3 rounded-md bg-blue-600 text-white hover:bg-blue-800">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                                </svg>
                            </button>
                        </div>
                        
                    </div>
                </div>
                    </div>
                </div>
            </div>
            <!-- container -->
        </div>
    </main><!-- #main -->
</div><!-- .container -->


{% endblock body %}


{% block js%}

<script>
      $(document).ready(function () {
      // Send an AJAX request to the Django view
      console.log('ggg');
      var i = 1;
      $('#chatbtn').click(function () {
          console.log('hhh');
          
          // $("#mytotalbill").text("Hello world!");

          //var r_button_id = $("#report_id").attr("data-id");

          var user_input = $("#tynChatInput").val()
          $("#tynChatInput").val("");
          //var ff_button_id = $("#report_id").data("value").val();

          console.log('user_input',user_input);
          //console.log(r_button_id);
          //console.log(ff_button_id);
          // Send an AJAX request to the Django view
          $.ajax({
            url: "{% url 'chat_add' %}",
            type: 'get',
            dataType: 'json',
            data: {
              offset: user_input,
            },

            success: function(response) {
              console.log('nnn');
              console.log(response);
              firstValue = 4;
              // Add the new content to the container

              //$('#report_dynamic_field').append('<li class="list-group-item list-group-item-success">' + response.data.my + '</li><li class="list-group-item list-group-item-warning">' + response.data.chatbot_response + '</li><li class="list-group-item list-group-item-light">' + '' + '</li>');
            
              $('#report_dynamic_field').append(
                    '<div class="flex flex-col py-2.5">'+
                        '<div class="flex items-center gap-x-2">'+
                        '<div class="inline-flex flex-shrink-0 h-8 w-8 rounded-full overflow-hidden border-2 border-white dark:border-slate-700">'+
                            '<img src="{% static 'images/avatar/a.jpg' %}" alt="" />'+
                        '</div>'+
                        '<h6 class="font-bold text-sm capitalize text-slate-600 dark:text-slate-100">you</h6>'+
                        '</div>'+
                        '<div class="ps-10 w-full">'+
                        '<div class="max-w-full text-slate-500 dark:text-slate-300 prose-strong:dark:text-white text-sm prose prose-code:![text-shadow:none] *:max-w-xl prose-pre:!max-w-full prose-pre:!w-full prose-pre:p-0">'+
                            '<p>' + response.data.my + '</p>'+
                        '</div>'+
                        '</div>'+
                    '</div>' +
                    '<div class="flex flex-col py-2.5">'+
                        '<div class="flex items-center gap-x-2">'+
                        '<div class="inline-flex flex-shrink-0 h-8 w-8 rounded-full overflow-hidden border-2 border-white dark:border-slate-700">'+
                            '<img src="{% static 'images/avatar/bots/1.jpg' %}" alt="" />'+
                        '</div>'+
                        '<h6 class="font-bold text-sm capitalize text-slate-600 dark:text-slate-100">Foresightbyte</h6>'+
                        '</div>'+
                        '<div class="ps-10 w-full">'+
                        '<div class="max-w-full text-slate-500 dark:text-slate-300 prose-strong:dark:text-white text-sm prose prose-code:![text-shadow:none] *:max-w-xl prose-pre:!max-w-full prose-pre:!w-full prose-pre:p-0">'+
                            '<p>' + response.data.chatbot_response + '</p>'+
                        '</div>'+
                        '<ul class="pt-4 flex gap-x-2">'+
                            '<li class="tooltip-toggle" data-placement="top" data-title="Regenerate">'+
                            '<button class="inline-flex justify-center items-center transition-all p-1 rounded-md bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-100 border border-slate-200 dark:border-slate-800 hover:border-blue-500 hover:bg-blue-500 hover:dark:border-blue-500 hover:dark:bg-blue-500 hover:text-white hover:dark:text-white">'+
                                '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4">'+
                                '<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />'+
                                '</svg>'+
                            '</button>'+
                            '</li>'+
                            '<li class="tooltip-toggle" data-placement="top" data-title="Bad Response">'+
                            '<button class="inline-flex justify-center items-center transition-all p-1 rounded-md bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-100 border border-slate-200 dark:border-slate-800 hover:border-blue-500 hover:bg-blue-500 hover:dark:border-blue-500 hover:dark:bg-blue-500 hover:text-white hover:dark:text-white">'+
                                '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4">'+
                                '<path stroke-linecap="round" stroke-linejoin="round" d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />'+
                                '</svg>'+
                            '</button>'+
                            '</li>'+
                            '<li>'+
                            '<button class="inline-flex justify-center items-center font-medium transition-all text-xs px-2 py-1 gap-2 rounded-md bg-white dark:bg-slate-950 text-slate-600 dark:text-slate-100 border border-slate-200 dark:border-slate-800 hover:border-green-500 hover:bg-green-500 hover:dark:border-green-500 hover:dark:bg-green-500 hover:text-white hover:dark:text-white">Share</button>'+
                            '</li>'+
                        '</ul>'+
                        '</div>'+
                    '</div>'
                    );

             
            },
            error: function() {
              // Handle any errors
              alert('Error loading more content.');
            }
          });
      });


  });
</script>

{% endblock js%}